recursive-include gtracr *.h  *.c *.hpp *.cpp *.py *.ipynb *.COF *.json *.pkl *.shc LICENSE 
recursive-include examples *.py *.ipynb *.cpp 
include *.py
include README.md
include *.txt
include LICENSE
graft .ci
include CHANGELOG